

<h1>conversation</h1>



<div class="conversation-page">
  <div class="conversation-title">
    {{header-bar title="conversation-message" rightIconType="nothing"}}
  </div>
  <div class="conversation-container">
    {{conversation-message name="Jacklyn"}}
    {{conversation-message name="Jacklyn"}}
    {{conversation-message name="Jacklyn"}}
    {{conversation-message name="Jacklyn"}}
  </div>
</div>


