

<div class="reviews-page">
  <div class="review-title">
    {{header-bar title="experience title here" rightIconType="nothing"}}
  </div>
  <div class="review-container">
    {{review-list-item name="Jacklyn"}}
    {{review-list-item name="Jacklyn"}}
    {{review-list-item name="Jacklyn"}}
    {{review-list-item name="Jacklyn"}}
    {{review-list-item name="Jacklyn"}}
  </div>
</div>
{{outlet}}