
<div class="conversation-list-item">
  <div class="header">
    <img class="avatar" src="/assets/images/jump-rope.jpg" alt="rating star">
    <span class="user-name">{{conversation.name}} {{name}}</span>
    <span class="time">{{conversation.time}}8:34 am</span>
  </div>

  <p class="message">{{conversation.message}}
    Amazing experience! Must-do if you enjoy cooking and
    learning new techniques! Shopped at the local butcher
    and learned the importance of different techniques in
    the kitchen.
  </p>

  <div class="date-container">
    <p class="date">{{conversation.date}}March 7, 2018</p>
  </div>
  <div class="custom-border"></div>
</div>
