<div class="my-experiences">
  <div class="my-experience-header-bar">
    <h1>My Experiences</h1>
  </div>
  
  <div class="content">

    <section>
      <h2>Most Recent</h2>

      {{my-experience-container}}
      {{my-experience-container}}
    </section>

    
    {{my-experience-container}}
    {{my-experience-container}}
    {{my-experience-container}}
  </div>
</div>